* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  background-image: url(http://www.transparenttextures.com/patterns/cubes.png);
  padding: 0 16px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}
header h1 span{
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: large;
  margin-left: 30px;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

footer p {
  color: #ccc;
}
.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note .deleteButton {
  position: relative;
  float: right;
  margin-right: 10px;
  color: rgb(243, 115, 115);
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background: white;
}

.note .viewBtn {
  position: relative;
  float: left;
  margin-top: -40px;
  margin-left: 80%;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background: white;
}

.note .created-at{
  width: 50%;
  margin-bottom: -30px;
  font-family: "Montserrat", sans-serif;
  font-size:smaller
}

.note .editButton{
  margin-top: -10px;
  margin-right: 10px;
  color: black;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background: white;
}

.noteHead{
  display:flex;
  justify-content: space-between;
}

form.create-note {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form.create-note input,
form.create-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.create-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.login-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  width: 480px;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  margin-bottom: 10px;
}

.login-page input{
  width: 100%;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

.login-page button{
  background: #f5ba13;
  color: #fff;
  border: none;
  width: 100px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.register-btn{
  align-content: center;
  background: #f5ba13;
  color: #fff;
  border: none;
  width: 100px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  margin: -10px 0 20px 0;
}
.register-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto 20px 20px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.register-form h2{
  color:#f5ba13
}

.card_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  color:#f5ba13;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.card_body form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
}

.card_body button{
  align-content: center;
  background: #f5ba13;
  color: #fff;
  border: none;
  width: 100px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  margin-left: 100px;
}

.login-opt{
  margin-left: -100px;
}
.login-opt > p{
  margin-top: 15px;
  margin-left: 125px;
}

header button{
  align-content: center;
  background: red;
  color: #fff;
  border: 1px;
  width: 100px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  margin-top: 30px;
}

.user-details{
  font-size: larger;
  margin: 30px 30px 10px 30px;
  font-family: "McLaren", cursive;
}

.edit-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:30px;
  margin-top: 50px;
}
.edit-page h2{
  color:#f5ba13
}
.edit-note{
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form.edit-note input,
form.edit-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form.edit-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 30%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}